{% extends "common/layout.html.jinja" %}
{% block title %}Secure | Sign Up{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <!-- TODO: ADD FORM HERE FOR SIGN UP -->
      <h3>This is the sign up page</h3>
    </div>
  </div>
</div>
{% endblock content%}